<div class="etiqueta-tienda-batch-milan-root">
    <div class="printSurface">
        <div class="row" style="display:flex; flex-direction:row; align-items:center;">
            <img class="ImagenLogo" [src]="logoUrl" width="215" height="40" alt="Logo" />
        </div>
        <div class="row" style="display:flex; flex-direction:row; margin-top:8px;">
            <span class="CampoProducto">{{ producto }}</span>
        </div>
        <div class="row" style="display:flex; flex-direction:row; margin-top:8px;">
            <span class="CampoDescripcion">{{ descripcion }}</span>
        </div>
        <div class="row" style="display:flex; flex-direction:row; margin-top:8px;">
            <span class="CampoPrecio">{{ precio }}</span>
        </div>
        <div class="row" style="display:flex; flex-direction:row; margin-top:8px; align-items:center;">
            <span>-</span>
            <span class="CampoDescuento">{{ descuento }}</span>
            <span>=</span>
            <span class="CampoPrecioFinal">{{ precioFinal }}</span>
        </div>
    </div>
</div>